body {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

.heading {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  border-bottom: 1px solid seashell;
  height: 69px;
}

.heading nav {
text-align: right;
display: flex;
flex-grow: 1;
}

.heading img {
  height: 50px;
  width: auto;
  float: left;
  padding-left: 10px;
}

.main {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
padding-top: 69px;
}

.main h2, h4 {
  margin: inherit;
  text-align: center;
}

.updates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-content {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.image-content img {
  height: 200px;
  width: 300px;
}

.image-content h4 {
  position: relative;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.contact {
  text-align: center;
  height: 200px;
}

.footer h5 {
  text-align: left;
  padding-left: 20px;
}
