* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

.header {
  position: fixed;
}

.header nav {
  text-decoration: underline;
}

.header img {
  height: 50px;
  width: auto;
  padding-left: 10px;
}

.main {
  height: 700px;
  width: 1200px;
  align-items: center;
}

.main h2, h4 {
  margin: inherit;
}
